.mainPage {
    width: 100vw;
}
.social-part .fa {
    padding-right: 20px;
}
ul li a {
    margin-right: 1em;
    color: #505d6a;
}
div.mainPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    gap: 0;
    width: 100%;
}
#navbar-container {
    margin-top: calc(100vh - 33em);
    width: 100%;
    height: max-content;
}
#navbar {
    display: flex;
    width: 100%;
    background-color: rgb(251, 246, 219);
    justify-content: space-between;
    height: max-content;
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 20;
}
.body {
    margin: auto;
    color: #505d6a;
    display: flex;
    height: 100vh;
    width: 100%;
    padding: auto;
    justify-content: center;
    align-items: center;
}
#homePageView {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
    color: #505d6a;
}

.fa {
    font-size: 1.5em;
}
.mainColLeft {
    font-size: 2em;
    font-weight: 700;
    text-align: end;
}
.mainColRight {
    display: flex;
    padding-left: 4em;
    flex-direction: column;
    padding: 0;
    max-width: 800px;
    width: 65%;
    align-items: center;
}

.mainColRight img {
    max-width: 30em;
}
.subHeaderName {
    font-size: 2em;
    font-weight: 600;
}
.subHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    height: 100vh;
    justify-content: center;
    margin-top: -7em;
    text-align: center;
    max-width: 100vw;
}
.logo {
    font-size: 4em;
    font-weight: 500;
    background-color: #0d0d0d;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.414) 0px 3px 3px;
    margin-left: 1em;
    text-decoration: none;
}

.dropdown {
    margin-right: 2em;
}
#languages {
    color: #505d6a;
    width: 100%;
}

.infoBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.activeProjects {
    font-weight: 500;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.activeProjectsList div {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 0.75em;
    gap: 2em;
}
.projectsList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 3em;
}
.activeProjectsList a {
    color: #505d6a;
}
img {
    width: 100%;
    height: auto;
}

.work {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: auto;
    display: flex;
    position: relative;
    width: 100%;
}
#work {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
}
.lastCol ul li {
    list-style: none;
    text-align: center;
    padding-right: 0.5em;
}
.lastCol ul {
    -webkit-padding-start: 0;
    padding-left: 0;
    list-style-type: none;
}

.lastCol {
    display: flex;
    justify-content: center;
}
.aboutBox {
    max-width: 45%;
    text-align: center;
    padding-right: 5em;
    padding-left: 5em;
}
@media screen and (max-width: 992px) {
    .mainColLeft {
        display: block;
        padding: 0;
        min-width: auto;
        margin: 0;
        text-align: center;
    }
    .mainColRight {
        flex-direction: column;
        margin: 0;
        padding: 0;
        display: flex;
    }
    .aboutBox {
        max-width: max-content;
    }

    .dropdown {
        margin-right: 1em;
    }
    .infoBoxes {
        flex-direction: column;
        min-height: 100vh;
    }
    .topInfo {
        margin-top: 20em;
    }

    .work {
        min-height: 100vh;
        flex-direction: column;
    }
    #navbar-container {
        margin-top: calc(100vh - 33em);
    }
    .logo {
        margin-left: 1em;
    }
    .subHeaderText {
        padding-right: 4em;
        padding-left: 4em;
    }
    #homePageView {
        text-align: center;
        height: max-content;
    }
}
@media screen and (max-width: 805px) {
    #navbar-container {
        margin-top: calc(100vh - 33em);
    }
    #homePageView {
        margin-top: 15em;
        margin-bottom: 10em;
    }
    .logo {
        font-size: 2.5em;
        margin-left: 1em;
    }
}
@media screen and (max-width: 778px) {
    #navbar-container {
        margin-top: calc(100vh - 38em);
    }
    .dropdown {
        margin-right: 0;
    }
}
@media screen and (max-width: 600px) {
    .infoBoxes {
        height: auto;
    }
    #navbar-container {
        margin-top: calc(100vh - 45em);
    }
    .logo {
        margin-left: 1em;
    }
    .subHeaderText {
        padding-right: 3em;
        padding-left: 3em;
    }
}
@media screen and (max-width: 453px) {
    #navbar-container {
        margin-top: calc(100vh - 32em);
    }
    .body {
        padding-right: 1.5em;
        padding-left: 1.5em;
    }
    .logo {
        font-size: 1.75em;
    }
}
@media screen and (max-width: 375px) {
    #navbar-container {
        margin-top: calc(100vh - 32em);
    }
    .subHeaderText {
        padding-right: 1em;
        padding-left: 1em;
    }
}
@media screen and (max-width: 281px) {
    #homePageView {
        margin-bottom: 20em;
    }
    #navbar-container {
        margin-top: calc(100vh - 55em);
    }
}

/* iphone XR */
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (orientation: portrait) {
}
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (orientation: landscape) {
    #navbar-container {
        margin-top: calc(100vh - 20em);
    }
    #homePageView {
        margin-top: 9em;
    }
    .logo {
        font-size: 2em;
    }
}

/* gal S8 */
@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (orientation: portrait) {
}
@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (orientation: landscape) {
    #navbar-container {
        margin-top: calc(100vh - 28em);
    }
    #homePageView {
        margin-top: 7em;
    }
    .logo {
        font-size: 2em;
    }
}

/* surface duo */
@media only screen and (min-device-width: 540px) and (max-device-width: 720px) and (orientation: portrait) {
}
@media only screen and (min-device-width: 540px) and (max-device-width: 896px) and (orientation: landscape) {
}

/* iphone SE */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    #navbar-container {
        margin-top: calc(100vh - 38.5em);
    }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    #navbar-container {
        margin-top: calc(100vh - 28.5em);
    }
    #homePageView {
        margin-top: 4.7em;
    }
    .logo {
        font-size: 2em;
    }
}

/* gal s9 */
@media only screen and (min-device-width: 320px) and (max-device-width: 658px) and (orientation: portrait) {
    #navbar-container {
        margin-top: calc(100vh - 41.5em);
    }
    .logo {
        margin-left: 1em;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 658px) and (orientation: landscape) {
    #navbar-container {
        margin-top: calc(100vh - 28em);
    }
    #homePageView {
        margin-top: 4.7em;
    }
    .logo {
        font-size: 2em;
    }
}
/* GalNote3 */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {
    #navbar-container {
        margin-top: calc(100vh - 38.5em);
    }
    .logo {
        margin-left: 1em;
    }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: landscape) {
    #navbar-container {
        margin-top: calc(100vh - 31em);
    }
    #homePageView {
        margin-top: 7em;
    }
    .logo {
        font-size: 2em;
    }
}
